<!-- fr.sorbonne_u.components.ports -->
<html>
<body>
<p><b>Hierarchy of end points abstracting the way to expose interfaces of
      components and interconnect them.</b></p>

<table border="2" width="100%">
<tr><th align="left" colspan="1">Licence</th></tr>
<tr>
<td width="100%">
<p>Copyright Jacques Malenfant, Sorbonne Universite.</p>

<p>Jacques.Malenfant@lip6.fr</p>

<p>
This software is a computer program whose purpose is to provide a
basic component programming model to program with components
distributed applications in the Java programming language.
</p>
<p>
This software is governed by the
<a href="../../../../images/Licence_CeCILL-C_V1-en.html">CeCILL-C</a>
license under French law and
abiding by the rules of distribution of free software.  You can use,
modify and/ or redistribute the software under the terms of the
CeCILL-C license as circulated by CEA, CNRS and INRIA at the following
URL <a href="http://www.cecill.info">http://www.cecill.info</a>.
</p>
<p>
As a counterpart to the access to the source code and  rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty  and the software's author,  the holder of the
economic rights,  and the successive licensors  have only  limited
liability. 
</p>
<p>
In this respect, the user's attention is drawn to the risks associated
with loading,  using,  modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean  that it is complicated to manipulate,  and  that  also
therefore means  that it is reserved for developers  and  experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or 
data to be ensured and,  more generally, to use and operate it in the 
same conditions as regards security. 
</p>
<p>
The fact that you are presently reading this means that you have had
knowledge of the CeCILL-C license and that you accept its terms.
</p>
</td>
</tr>
</table>

<p>
BCM components basically use ports and connectors to interconnect components,
with inbound port exposing offered component interfaces and outbound ports
exposing required component interfaces. Other technologies to interconnect
software entities could also be used, such as POJO references or more
interestingly REST APIs interconnections. To abstract the interconnection
technology, end points are introduced in BCM. End points are defined on two
interfaces, mainly component interfaces, a required one seen from the client
side of the interconnection and an offered one that is exposed by the server
side. The idea is that end points have all the same protocol to use them to
interconnect software entities, and here mainly BCM components, so that
interchanging the technology should only require to change the type of end point
without touching at the rest of the code in the application.
<p>
<p>
Currently, only POJO and BCM end points are implemented but a REST type of end
point is planned to be added shortly. All types of end points implements the
protocol, among which the method {@code getReference} must return a Java
reference to be used in the client side code to call services offered by the
server side. In a POJO end point, a standard Java object reference to the server
is hidden by the end point. In a BCM end point, the reference used from the
client side is the one of the outbound port. The BCM end point is first defined
by the offered and required components interfaces but also the URI of the
inbound port. Hence, a BCM end point can be created and t hen passed to the
client and the server so that the protocol will create and publish the inbound
port on the server side and then create, publish and connect the outbound port
on the client side. Methods to clean up the client and the server side are also
part of the protocol, and for BCM end point, they will disconnect, unpublish and
destroy the ports.
</p>

</body>
</html>